/vendor
/node_modules
.env
/public/js
/public/css
/public/images

storage/github
storage/hub_sync
storage/*.sqlite
.php_cs.cache
.idea
composer.phar
npm-debug.log

tests/assets/spec.git
tests/js/coverage

!/lib/Server/API/Controllers/MeetingController.php
public/mix-manifest.json
