includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./phpstan-baseline.neon

parameters:
    level: 3

    paths:
        - app
        - config
        - database

    excludes_analyse:
    	- database/migrations
