parameters:
    ignoreErrors:
        # Ignored because Laravel injects this variable into this file but phpstan doesn't know that (yet)
        - message: "/^Variable \\$factory might not be defined.$/"
          count: 14
          path: database/factories/ModelFactory.php

        # Ignored because the generator has all kinds of statically not findable methods :/
        - message: "/^Call to an undefined method Faker\\\\Generator::.+()$/"
          count: 2
          path: database/factories/ModelFactory.php

        # Ignored because Factory::optional actually returns true or false
        - message: "#^Ternary operator condition is always true\\.$#"
          count: 1
          path: database/factories/ModelFactory.php
