<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="API">
            <directory>./tests/api/</directory>
        </testsuite>
        <testsuite name="HubSync">
            <directory>./tests/hubsync/</directory>
        </testsuite>
        <testsuite name="Core">
            <directory>./tests/core/</directory>
        </testsuite>
        <testsuite name="Schema">
            <directory>./tests/schema/</directory>
        </testsuite>
        <testsuite name="Spec">
            <directory>./tests/spec/</directory>
        </testsuite>
        <testsuite name="Regressions">
            <directory>./tests/bugs/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">.</directory>
            <exclude>
                <file>./app/Http/routes.php</file>
                <file>./lib/Server/routes.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
