
$primary: #3498db;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;
$hover: lighten($primary, 33%);

@import "~bulma/bulma";

@import '~font-awesome/scss/font-awesome';

$sliding-pagination-background-primary: $white;
$sliding-pagination-background-secondary: $grey-lighter;
$sliding-pagination-foreground-primary: $black;
$sliding-pagination-foreground-secondary: $primary;

@import "~vue-sliding-pagination/dist/style/sliding-pagination";

[v-cloak] > * {
  display: none;
}
[v-cloak]::before { content: "loading…" }


.table-of-contents {
  height: 75vh;
  overflow-y: scroll;
}

@import '~flag-icon-css/sass/variables';
@import '~flag-icon-css/sass/flag-icon-base';
@include flag-icon(de);
@include flag-icon(gb);

@import '~vuelayers/lib/style.css';
