@font-face{
  font-family: 'Source Code Pro';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceCodePro-ExtraLight.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceCodePro-ExtraLight.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceCodePro-ExtraLight.otf.woff') format('woff'),
  url('/fonts/SourceCodePro-ExtraLight.otf') format('opentype'),
  url('/fonts/SourceCodePro-ExtraLight.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/SourceCodePro-ExtraLightIt.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceCodePro-ExtraLightIt.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceCodePro-ExtraLightIt.otf.woff') format('woff'),
  url('/fonts/SourceCodePro-ExtraLightIt.otf') format('opentype'),
  url('/fonts/SourceCodePro-ExtraLightIt.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceCodePro-Light.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceCodePro-Light.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceCodePro-Light.otf.woff') format('woff'),
  url('/fonts/SourceCodePro-Light.otf') format('opentype'),
  url('/fonts/SourceCodePro-Light.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/SourceCodePro-LightIt.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceCodePro-LightIt.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceCodePro-LightIt.otf.woff') format('woff'),
  url('/fonts/SourceCodePro-LightIt.otf') format('opentype'),
  url('/fonts/SourceCodePro-LightIt.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceCodePro-Regular.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceCodePro-Regular.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceCodePro-Regular.otf.woff') format('woff'),
  url('/fonts/SourceCodePro-Regular.otf') format('opentype'),
  url('/fonts/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/SourceCodePro-It.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceCodePro-It.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceCodePro-It.otf.woff') format('woff'),
  url('/fonts/SourceCodePro-It.otf') format('opentype'),
  url('/fonts/SourceCodePro-It.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceCodePro-Medium.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceCodePro-Medium.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceCodePro-Medium.otf.woff') format('woff'),
  url('/fonts/SourceCodePro-Medium.otf') format('opentype'),
  url('/fonts/SourceCodePro-Medium.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/SourceCodePro-MediumIt.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceCodePro-MediumIt.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceCodePro-MediumIt.otf.woff') format('woff'),
  url('/fonts/SourceCodePro-MediumIt.otf') format('opentype'),
  url('/fonts/SourceCodePro-MediumIt.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceCodePro-Semibold.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceCodePro-Semibold.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceCodePro-Semibold.otf.woff') format('woff'),
  url('/fonts/SourceCodePro-Semibold.otf') format('opentype'),
  url('/fonts/SourceCodePro-Semibold.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/SourceCodePro-SemiboldIt.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceCodePro-SemiboldIt.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceCodePro-SemiboldIt.otf.woff') format('woff'),
  url('/fonts/SourceCodePro-SemiboldIt.otf') format('opentype'),
  url('/fonts/SourceCodePro-SemiboldIt.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceCodePro-Bold.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceCodePro-Bold.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceCodePro-Bold.otf.woff') format('woff'),
  url('/fonts/SourceCodePro-Bold.otf') format('opentype'),
  url('/fonts/SourceCodePro-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/SourceCodePro-BoldIt.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceCodePro-BoldIt.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceCodePro-BoldIt.otf.woff') format('woff'),
  url('/fonts/SourceCodePro-BoldIt.otf') format('opentype'),
  url('/fonts/SourceCodePro-BoldIt.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceCodePro-Black.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceCodePro-Black.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceCodePro-Black.otf.woff') format('woff'),
  url('/fonts/SourceCodePro-Black.otf') format('opentype'),
  url('/fonts/SourceCodePro-Black.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/SourceCodePro-BlackIt.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceCodePro-BlackIt.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceCodePro-BlackIt.otf.woff') format('woff'),
  url('/fonts/SourceCodePro-BlackIt.otf') format('opentype'),
  url('/fonts/SourceCodePro-BlackIt.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceSansPro-ExtraLight.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceSansPro-ExtraLight.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff'),
  url('/fonts/SourceSansPro-ExtraLight.otf') format('opentype'),
  url('/fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/SourceSansPro-ExtraLightIt.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceSansPro-ExtraLightIt.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceSansPro-ExtraLightIt.otf.woff') format('woff'),
  url('/fonts/SourceSansPro-ExtraLightIt.otf') format('opentype'),
  url('/fonts/SourceSansPro-ExtraLightIt.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceSansPro-Light.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceSansPro-Light.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceSansPro-Light.otf.woff') format('woff'),
  url('/fonts/SourceSansPro-Light.otf') format('opentype'),
  url('/fonts/SourceSansPro-Light.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/SourceSansPro-LightIt.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceSansPro-LightIt.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceSansPro-LightIt.otf.woff') format('woff'),
  url('/fonts/SourceSansPro-LightIt.otf') format('opentype'),
  url('/fonts/SourceSansPro-LightIt.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceSansPro-Regular.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
  url('/fonts/SourceSansPro-Regular.otf') format('opentype'),
  url('/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/SourceSansPro-It.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceSansPro-It.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceSansPro-It.otf.woff') format('woff'),
  url('/fonts/SourceSansPro-It.otf') format('opentype'),
  url('/fonts/SourceSansPro-It.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceSansPro-Medium.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceSansPro-Medium.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceSansPro-Medium.otf.woff') format('woff'),
  url('/fonts/SourceSansPro-Medium.otf') format('opentype'),
  url('/fonts/SourceSansPro-Medium.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/SourceSansPro-MediumIt.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceSansPro-MediumIt.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceSansPro-MediumIt.otf.woff') format('woff'),
  url('/fonts/SourceSansPro-MediumIt.otf') format('opentype'),
  url('/fonts/SourceSansPro-MediumIt.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceSansPro-Semibold.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceSansPro-Semibold.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceSansPro-Semibold.otf.woff') format('woff'),
  url('/fonts/SourceSansPro-Semibold.otf') format('opentype'),
  url('/fonts/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/SourceSansPro-SemiboldIt.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceSansPro-SemiboldIt.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceSansPro-SemiboldIt.otf.woff') format('woff'),
  url('/fonts/SourceSansPro-SemiboldIt.otf') format('opentype'),
  url('/fonts/SourceSansPro-SemiboldIt.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceSansPro-Bold.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceSansPro-Bold.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
  url('/fonts/SourceSansPro-Bold.otf') format('opentype'),
  url('/fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/SourceSansPro-BoldIt.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceSansPro-BoldIt.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceSansPro-BoldIt.otf.woff') format('woff'),
  url('/fonts/SourceSansPro-BoldIt.otf') format('opentype'),
  url('/fonts/SourceSansPro-BoldIt.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceSansPro-Black.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceSansPro-Black.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceSansPro-Black.otf.woff') format('woff'),
  url('/fonts/SourceSansPro-Black.otf') format('opentype'),
  url('/fonts/SourceSansPro-Black.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/SourceSansPro-BlackIt.eot') format('embedded-opentype'),
  url('/fonts/TTF/SourceSansPro-BlackIt.ttf.woff2') format('woff2'),
  url('/fonts/OTF/SourceSansPro-BlackIt.otf.woff') format('woff'),
  url('/fonts/SourceSansPro-BlackIt.otf') format('opentype'),
  url('/fonts/SourceSansPro-BlackIt.ttf') format('truetype');
}
