@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "variables";
@import "bootstrap";
@import "oparl-logo";

@import "fonts";

body {
  position: relative;
  font-weight: 300;
}

header {
  border-bottom: .15em inset darken($brand-primary, 15%);
  margin-left: -15px;
  margin-right: -15px;
}

.sub-nav {
  border-bottom: .15em inset darken($brand-primary, 15%);
  background:
    radial-gradient(darken($brand-primary, 15%) 15%, transparent 16%) 0 0,
    radial-gradient(darken($brand-primary, 15%) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color: $brand-primary;
  background-size:16px 16px;
  padding: 1.2em 0 0.6em 0;
  margin-top: -$navbar-margin-bottom;
  margin-bottom: $navbar-margin-bottom;
}

.fixed-top {
  position: relative;
  left: 0;

  &.is-scrolled {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
  }
}

.navbar-default {
  background: white;
  text-align: center;
  border: none;
  margin-bottom: 0;
}

.text-tiny {
  font-size: $font-size-base * 0.75;
}

.nowrap {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.page-header {
  border-bottom: none;
}

@media (max-width: $screen-md) {
  .toc.affix {
    position: static;

    > div {
      max-height: none;
    }
  }
}

p {
  text-align: justify;
  hyphens: auto;
}

h1, h2, h3, h4 {
  & > a {
    color: inherit;
  }
}

a.link-modest {
  color: inherit;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }
}

a.link-danger {
  color: $brand-danger;
  cursor: pointer;
}

figure {
  margin: .15em;
  padding: .15em;
  border: 1px solid $pre-border-color;
  border-radius: $border-radius-small;
}

figcaption {
  text-align: center;
  font-variant: small-caps;
}

.dropdown-menu > li {
  $line-height-base: 2 * $line-height-base;

  > .dropdown-menu {
    display:none;
  }

  &:hover {
    > .dropdown-menu {
      display: inline-block;
      position: relative;
      left: 100%;
      top: -$line-height-computed * (5 / 3);
    }
  }
}
