@import 'config/variables';

header {
  border-bottom: 1px solid $brand-primary;
  color: $brand-primary;
  margin-bottom: 1em;
  padding: 1em;

  span {
    vertical-align: 50%;
  }
}

.page {
  //page-break-inside: avoid;
}

.pagebreak {
  display: block;
  page-break-after: always;
}

h1 {
  text-align: center;
}

.result--info {
  color: $brand-success;
}

.result--warning {
  color: $brand-warning;
}

.result--error {
  color: $brand-danger;
}

.infobox {
  border: 1px solid black;
  background: #f0ecb6;
  padding: 1em;
  margin: .5em;
}

#result {
  border-collapse: collapse;
  width: 100%;
}

#result td, #result th {
  border: 1px solid #ddd;
  padding: 8px;
}

#result tr:nth-child(even) {
  background-color: #f2f2f2;
}

#result tr:hover {
  background-color: #ddd;
}

#result th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $brand-primary;
  color: white;
}

ul.linklist {
  list-style: none;
  font-size: 10pt;

  li { margin-left: 0; padding-left: 0; }

  a { color: inherit; text-decoration: none; }
}

.result-id {
  border-radius: 50%;
  padding: .2em;
  border: 1px solid black;

  &__info {
    background: $brand-success;
  }

  &__warning {
    background: $brand-warning;
  }

  &__error {
    background: $brand-danger;
  }
}