.c-accordion {
  margin-top: .6em;
  overflow-y: hidden;

  &--header {
    display: inline;
    cursor: pointer;
  }

  .expand-transition {
    transition: .6s ease-in-out;
    transform: translateY(0);
  }

  .expand-enter, .expand-leave {
    transform: translateY(-100%);
  }
}