.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;

  & > * {
    flex-grow: 1;
    padding: 0 .6em;
  }

  &--center {
    justify-content: space-between;
    align-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  .row {
    flex-wrap: wrap;
  }
}

.row-item {
  align-self: flex-start;

  &--grow-1 {
    flex-grow: 1;
  }

  &--grow-2 {
    flex-grow: 2;
  }

  &--shrink-1 {
    flex-shrink: 1;
  }

  &--shrink-2 {
    flex-shrink: 2;
  }

  &--align-end {
    align-self: flex-end;
  }
}
