.row {
  display: flex;
  flex-direction: row;

  & > * {
    flex-grow: 1;
    padding: 0 .6em;
  }

  &--center {
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .row {
    flex-wrap: wrap;
  }
}

.row-item {
  &--grow-1 {
    flex-grow: 1;
  }

  &--shrink-1 {
    flex-shrink: 1;
  }

  &--shrink-2 {
    flex-shrink: 2;
  }

  &--align-end {
    align-self: flex-end;
  }
}