main {
  margin: 0 auto;
  padding: .7em;
  width: 100%;

  line-height: 1.4em;

  h1, h2, h3, h4 {
    margin-top: .7em;
    margin-bottom: 1.4em;
  }

  p {
    text-align: justify;
    text-align-last: left;
    margin-bottom: .7em;

    &.left {
      text-align: left;
    }
  }

  strong {
    font-weight: 600;
  }

  ul {
    padding-left: 1.8em;
    li {
      list-style: square;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  figure {
    border: 1px solid $brand-primary;
    margin: .3em;

    & > img {
      padding: .6em;
    }

    & > figcaption {
      border-top: 1px solid $brand-primary;
      background: $gray-base;
      font-variant: small-caps;
      text-align: center;
    }
  }

  pre, code {
    color: $code-color;
    font-weight: 400;
    overflow-x: scroll;
  }

  td, th {
    padding: .3em .6em;
  }

  table {
    width: 100%;
  }

  thead {
    background: $brand-primary;
    color: white;
  }

  tbody tr:nth-of-type(2n+1) {
    background: $gray-base;
  }

  a > sup {
    color: darken($gray-base, 50%);
    vertical-align: 0.3em;
  }
}

@media screen and (min-width: 1300px) {
  main {
    width: 75% !important;
  }
}

@media screen and (min-width: 1900px) {
  main {
    width: 50% !important;
  }
}

main aside {
  nav {
    ul {
      list-style: none;
      padding: 0;
    }

    ul ul {
      padding-left: 1.2em;
    }
  }
}
