.c-tablist {
  nav {
    font-size: 1.2em;

    ul {
      list-style: none;
    }

    li {
      border-left: 1px solid $brand-primary;
      display: inline;
      padding: 0 0.6em;
      cursor: pointer;
      transition: $transition-hover-bg;
    }

    li:hover {
      background: $brand-hover;
    }

    li.active {
      background: $brand-hover;
    }
  }
}